.heading{
    font-size: 22px;
    font-weight: bold;
    padding:30px;
    border-bottom: 1px solid #C7C7C7;
}
.question{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    padding-top: 40px;
}
.answer,.answer_points{
    font-size: 15px;
    padding: 10px 30px;
}