.heading{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    padding-top: 40px;
}

.main{
    background-color: #fff;
    border: 1px solid #757575;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}