.heading {
    color: #212121;
    font-weight: bold;
    font-size: 20px;
    padding: 21px 30px;
    border-bottom:1px solid rgba(199, 199, 199, 0.35);
  }
.main{
    padding: 0 30px;
    color: #757575;
}
.main_child{
    border-bottom: 2px dotted #C7C7C7;
    margin: 28px 0px;
}